In [1]:
import pandas as pd
import datetime

In [2]:
class money_tracker_month:
    def __init__(self, month_number=datetime.date.today().month):
        self.day = datetime.date.today().day
        self.month_number = month_number
        self.year = datetime.date.today().year
        self.num_to_month = {
            1: 'Январь', 2: 'Февраль', 3: 'Март', 4: 'Апрель', 5: 'Май', 6: 'Июнь',
            7: 'Июль', 8: 'Август', 9: 'Сентябрь', 10: 'Октябрь', 11: 'Ноябрь', 12: 'Декабрь' }
        self.month_name = self.num_to_month[month_number]
        self.date = datetime.datetime(day=self.day, month=self.month_number, year=self.year)

        self.table = pd.DataFrame({'дата': [], 'категория': [], 'сумма': [], 'комментарий': []})
        self.table_name = str(self.month_name)+'_'+str(self.year)+'.xlsx'

        self.expenses_group =  {1: 'продукты',
                               2: 'транспорт',
                               3: 'развлечения',
                               4: 'здоровье',
                               5: 'связь',
                               6: 'квартплата',
                               7: 'непредвиденное',
                               8: 'одежда',
                               9: 'цифровые',
                               10: 'ненужные',
                               11: 'прочее'}
        
        self.gain_group = {100: 'зарплата',
                           101: 'подработка',
                           102: 'дивиденды',
                           103: 'депозиты'}

    def create_xlsx(self, filename=None):
        if filename == None:
            self.table.to_excel(self.table_name, index=0)
        else:
            self.table_name = filename
            self.table.to_excel(filename, index=0)

    def read_xlsx(self, filename=None):
        if filename == None:
            self.table = pd.read_excel(self.table_name)
        else:
            self.table_name = filename
            self.table = pd.read_excel(filename)

            self.month_name = filename.split('_')[0]
            for key, value in self.num_to_month.items():
                if self.month_name == value:
                    self.month_number = key
            self.year = int(filename.split('_')[1].split('.')[0])

            self.date = datetime.datetime(day=self.day, month=self.month_number, year=self.year)

    def write_xlsx(self):
        self.table.to_excel(self.table_name, index=0)

    def get_expenses_group(self):
        print('Группы расходов:')
        for key, value in self.expenses_group.items():
            print("{:>2}".format(key), end='|')
            print("{:<15}".format(value)+'|')
        print()

        print('Группы доходов:')
        for key, value in self.gain_group.items():
            print("{:>2}".format(key), end='|')
            print("{:<15}".format(value)+'|')
        print()

    def add_expenses_manual(self, date=0, category='прочее', value=0,  comment=''):
        self.table.loc[len(self.table)] = [date, category, value, comment]

    def add_expenses_auto(self):
        flag = True
        month_num = "{:>02d}".format(self.month_number)
        while True:
            date = "{:>02d}".format(int(input('Дата = '))) + '.' + month_num + '.' + str(self.year)

            num_category = int(input('Категория = '))

            cost = int(input('Сумма = '))
            if num_category in self.expenses_group.keys():
                self.table.loc[len(self.table)] = [date, self.expenses_group[num_category], -cost, str(input('Комментарий = '))]
            elif num_category in self.gain_group.keys():
                self.table.loc[len(self.table)] = [date, self.gain_group[num_category], cost, str(input('Комментарий = '))]
            else:
                pass
                # добавить ошибку ввода

            if str(input('Продолжить?[Y/n]')) == 'n':
                break

In [3]:
first = money_tracker_month()
print(first.day, first.month_name, first.year)
# first.create_xlsx(filename='Сентябрь_2023.xlsx')
# first.write_xlsx()

5 Октябрь 2023

In [11]:
first.read_xlsx(filename='2023/Сентябрь_2023.xlsx')
first.table

                   дата    категория  сумма               комментарий
0   2023-09-01 00:00:00     продукты    -80                    Магнит
1            01.09.2023     зарплата  40000                       NaN
2            01.09.2023   квартплата -15000                       NaN
3            01.09.2023     продукты   -940               Перекресток
4            02.09.2023    транспорт   -470                     Метро
5            03.09.2023    транспорт    -39                     Urent
6            03.09.2023    транспорт    -54                     Urent
7            03.09.2023  развлечения   -200             MINI KOFEINYA
8            03.09.2023  развлечения   -200             MINI KOFEINYA
9            04.09.2023  развлечения   -175         Молочный коктейль
10           04.09.2023     продукты   -710               Перекресток
11           05.09.2023     продукты   -387                   Обед СМ
12           05.09.2023     продукты   -837               Перекресток
13           06.09.2023  развлечения   -852                       NaN
14           06.09.2023       прочее   -220            OZON. Хомутики
15           06.09.2023   подработка    470                      Даша
16           06.09.2023        связь   -650                    Tele 2
17           06.09.2023     продукты   -335            Обед Техноград
18           06.09.2023    транспорт   -470                     Метро
19           07.09.2023     здоровье  -1700               DDX fitness
20           07.09.2023    транспорт    -30                     Urent
21           07.09.2023     продукты    -72               Перекресток
22           07.09.2023     здоровье   -321     Зубная нить и леденцы
23           07.09.2023     продукты   -279                   Обед СМ
24           08.09.2023    транспорт   -300                    Тройка
25           09.09.2023        связь    -30                   Мегафон
26           09.09.2023       одежда  -6798        Куртка и водолазка
27           10.09.2023        связь   -100      Теле 2 раздача Wi-fi
28           11.09.2023     продукты   -332               Перекресток
29           11.09.2023     продукты   -120                    Магнит
30           12.09.2023     продукты   -377                   Обед СМ
31           12.09.2023     продукты   -278               Перекресток
32           13.09.2023     продукты   -281                   Обед СМ
33           14.09.2023     продукты   -390                   Обед СМ
34           15.09.2023  развлечения   -175  Точка. Молочный коктель
35           15.09.2023       одежда  -4005               Рюкзак 13.3
36           17.09.2023  развлечения  -1400                  Хачипури
37           09.09.2023   подработка   5000       Сборка ПК для Олега
38           21.10.2023     продукты    -78           Суп столовая СМ
39           24.10.2023       прочее  -1125                Подарок ЛА
40           24.10.2023    транспорт    -47             Urent Лух-Дом
41           25.10.2023        связь   -599                    iCloud
42           28.10.2023       прочее  -2208     Шоколадный букет Даши
43           29.10.2023     ненужные  -1786      Ozon logitech Pebble
44           19.10.2023     продукты   -220                 Пяиерочка
45           20.10.2023     продукты   -100                     Буфет
46           20.10.2023     продукты   -380                 Пятерочка
47           20.10.2023     продукты   -250               Перекресток
48           22.10.2023     продукты   -140               Перекресток
49           22.10.2023    транспорт   -120                Электричка
50           24.10.2023    транспорт   -120                Электричка
51           25.10.2023     продукты   -160               Перекресток
52           27.10.2023     продукты   -520               Перекресток
53           29.10.2023    транспорт   -120                Электричка
54           30.10.2023     депозиты   1126                 Вклад ВТБ

In [8]:
first.get_expenses_group()

Группы расходов:
 1|продукты       |
 2|транспорт      |
 3|развлечения    |
 4|здоровье       |
 5|связь          |
 6|квартплата     |
 7|непредвиденное |
 8|одежда         |
 9|цифровые       |
10|ненужные       |
11|прочее         |

Группы доходов:
100|зарплата       |
101|подработка     |
102|дивиденды      |
103|депозиты       |

In [9]:
first.add_expenses_auto()
first.write_xlsx()
first.table.tail()

          дата  категория  сумма  комментарий
50  24.10.2023  транспорт   -120   Электричка
51  25.10.2023   продукты   -160  Перекресток
52  27.10.2023   продукты   -520  Перекресток
53  29.10.2023  транспорт   -120   Электричка
54  30.10.2023   депозиты   1126    Вклад ВТБ

In [8]:
first.write_xlsx()

In [10]:
first.table.tail()

          дата  категория  сумма  комментарий
50  24.10.2023  транспорт   -120   Электричка
51  25.10.2023   продукты   -160  Перекресток
52  27.10.2023   продукты   -520  Перекресток
53  29.10.2023  транспорт   -120   Электричка
54  30.10.2023   депозиты   1126    Вклад ВТБ

In [36]:
import os

In [101]:
class money_tracker_year:
    def __init__(self):
        self.year = datetime.date.today().year
        self.num_to_month = {
            1: 'Январь', 2: 'Февраль', 3: 'Март', 4: 'Апрель', 5: 'Май', 6: 'Июнь',
            7: 'Июль', 8: 'Август', 9: 'Сентябрь', 10: 'Октябрь', 11: 'Ноябрь', 12: 'Декабрь' }

        self.table = pd.DataFrame({'категория': []})
        self.table_name = str(self.year)+'.xlsx'

        self.expenses_group =  {1: 'продукты',
                               2: 'транспорт',
                               3: 'развлечения',
                               4: 'здоровье',
                               5: 'связь',
                               6: 'квартплата',
                               7: 'непредвиденное',
                               8: 'одежда',
                               9: 'цифровые',
                               10: 'ненужные',
                               11: 'прочее'}
        
        self.gain_group = {100: 'зарплата',
                           101: 'подработка',
                           102: 'дивиденды',
                           103: 'депозиты'}

    def create_xlsx(self, filename=None):
        if filename == None:
            self.table.to_excel(self.table_name, index=0)
        else:
            self.table_name = filename
            self.table.to_excel(filename, index=0)

    def read_xlsx(self, filename=None):
        if filename == None:
            self.table = pd.read_excel(self.table_name)
        else:
            self.table_name = filename
            self.table = pd.read_excel(filename)

            self.year = int(filename.split('.')[0])

    def write_xlsx(self):
        self.table.to_excel(self.table_name, index=0)

    def get_expenses_group(self):
        print('Группы расходов:')
        for key, value in self.expenses_group.items():
            print("{:>2}".format(key), end='|')
            print("{:<15}".format(value)+'|')
        print()

        print('Группы доходов:')
        for key, value in self.gain_group.items():
            print("{:>2}".format(key), end='|')
            print("{:<15}".format(value)+'|')
        print()

    def add_expenses_gpoup(self):
        for value in self.expenses_group.values():
            self.table.loc[len(self.table)] = [value]
        self.table.loc[len(self.table)] = ['    ']
        for value in self.gain_group.values():
            self.table.loc[len(self.table)] = [value]

    def add_months_data(self):
        files = os.listdir('2023')
        # print(files)
        for file in files:
            self.month = pd.read_excel('2023/'+file)

            month_sum_arr = []    
            for value in self.expenses_group.values():
                month_sum_arr.append(self.month[self.month['категория'] == value]['сумма'].sum())
            month_sum_arr.append('  ')
            for value in self.gain_group.values():
                month_sum_arr.append(self.month[self.month['категория'] == value]['сумма'].sum())

            self.table[file.split('.')[0]] = month_sum_arr

In [102]:
y2023 = money_tracker_year()
# y2023.create_xlsx()
# y2023.write_xlsx()
# y2023.add_expenses_gpoup()
y2023.read_xlsx()
y2023.table

         категория
0         продукты
1        транспорт
2      развлечения
3         здоровье
4            связь
5       квартплата
6   непредвиденное
7           одежда
8         цифровые
9         ненужные
10          прочее
11
12        зарплата
13      подработка
14       дивиденды
15        депозиты

In [103]:
y2023.add_months_data()

In [105]:
y2023.table

         категория Август_2023 Сентябрь_2023
0         продукты      -12182         -5418
1        транспорт       -2442         -1363
2      развлечения           0         -3002
3         здоровье       -1700         -2021
4            связь           0          -780
5       квартплата      -15000        -15000
6   непредвиденное         -64             0
7           одежда      -11365        -10803
8         цифровые           0             0
9         ненужные           0             0
10          прочее       -2330          -220
11
12        зарплата       40000         40000
13      подработка        3612          5470
14       дивиденды           0             0
15        депозиты           0             0

In [106]:
y2023.write_xlsx()