In [1]:
import pandas as pd
import datetime

In [2]:
class money_tracker_month:
    def __init__(self, month_number=datetime.date.today().month):
        self.day = datetime.date.today().day
        self.month_number = month_number
        self.year = datetime.date.today().year
        self.num_to_month = {
            1: 'Январь', 2: 'Февраль', 3: 'Март', 4: 'Апрель', 5: 'Май', 6: 'Июнь',
            7: 'Июль', 8: 'Август', 9: 'Сентябрь', 10: 'Октябрь', 11: 'Ноябрь', 12: 'Декабрь' }
        self.month_name = self.num_to_month[month_number]
        self.date = datetime.datetime(day=self.day, month=self.month_number, year=self.year)

        self.table = pd.DataFrame({'дата': [], 'категория': [], 'сумма': [], 'комментарий': []})
        self.table_name = str(self.month_name)+'_'+str(self.year)+'.xlsx'

        self.expenses_group =  {1: 'продукты',
                               2: 'транспорт',
                               3: 'развлечения',
                               4: 'здоровье',
                               5: 'связь',
                               6: 'квартплата',
                               7: 'непредвиденное',
                               8: 'одежда',
                               9: 'цифровые',
                               10: 'ненужные',
                               11: 'прочее'}
        
        self.gain_group = {100: 'зарплата',
                           101: 'подработка',
                           102: 'дивиденды',
                           103: 'депозиты'}

    def create_xlsx(self, filename=None):
        if filename == None:
            self.table.to_excel(self.table_name, index=0)
        else:
            self.table_name = filename
            self.table.to_excel(filename, index=0)

    def read_xlsx(self, filename=None):
        if filename == None:
            self.table = pd.read_excel(self.table_name)
        else:
            self.table_name = filename
            self.table = pd.read_excel(filename)

            self.month_name = filename.split('_')[0]
            for key, value in self.num_to_month.items():
                if self.month_name == value:
                    self.month_number = key
            self.year = int(filename.split('_')[1].split('.')[0])

            self.date = datetime.datetime(day=self.day, month=self.month_number, year=self.year)

    def write_xlsx(self):
        self.table.to_excel(self.table_name, index=0)

    def get_expenses_group(self):
        print('Группы расходов:')
        for key, value in self.expenses_group.items():
            print("{:>2}".format(key), end='|')
            print("{:<15}".format(value)+'|')
        print()

        print('Группы доходов:')
        for key, value in self.gain_group.items():
            print("{:>2}".format(key), end='|')
            print("{:<15}".format(value)+'|')
        print()

    def add_expenses_manual(self, date=0, category='прочее', value=0,  comment=''):
        self.table.loc[len(self.table)] = [date, category, value, comment]

    def add_expenses_auto(self):
        flag = True
        month_num = "{:>02d}".format(self.month_number)
        while True:
            date = "{:>02d}".format(int(input('Дата = '))) + '.' + month_num + '.' + str(self.year)

            num_category = int(input('Категория = '))

            cost = int(input('Сумма = '))
            if num_category in self.expenses_group.keys():
                self.table.loc[len(self.table)] = [date, self.expenses_group[num_category], -cost, str(input('Комментарий = '))]
            elif num_category in self.gain_group.keys():
                self.table.loc[len(self.table)] = [date, self.gain_group[num_category], cost, str(input('Комментарий = '))]
            else:
                pass
                # добавить ошибку ввода

            if str(input('Продолжить?[Y/n]')) == 'n':
                break

In [3]:
first = money_tracker_month()
print(first.day, first.month_name, first.year)
# first.create_xlsx(filename='Декабрь_2023.xlsx')
# first.write_xlsx()

9 Январь 2024

In [12]:
first.read_xlsx(filename='2023/Декабрь_2023.xlsx')
first.table

          дата    категория  сумма                      комментарий
0   01.01.2023    транспорт   -150      Перевод Сослан Казбекович Г
1   02.01.2023    транспорт   -114    Юрент самокат во Владикавказе
2   02.01.2023    транспорт    -23                    Юрент самокат
3   02.01.2023   квартплата -15000                       Квартплата
4   03.01.2023  развлечения   -900             Сувениры Владикавказ
5   03.01.2023  развлечения   -188                      Владикавказ
6   04.01.2023     зарплата   3479                        Стипендия
7   05.01.2023   подработка    204                  Перевод от Даши
8   08.01.2023   подработка    232                  Перевод от Даши
9   11.01.2023    транспорт   -300                       Электричка
10  11.01.2023   подработка  15082  Перевод от Фарзона Илхомовна Х.
11  14.01.2023       прочее   -978                   Перевод по СБП
12  15.01.2023     зарплата   3479                        Стипендия
13  17.01.2023     цифровые   -400                        Дота плюс
14  17.01.2023     ненужные  -1000                       ДЗ Рыбаков
15  20.01.2023       прочее  -2186             Подарок ЛА и Тищенко
16  20.01.2023   подработка    550              Перевод от Михалова
17  20.01.2023       прочее   -450       Перевод Гудкову за подарок
18  20.01.2023   подработка    550              Перевод от Лазарева
19  20.01.2023       прочее  -2184             Подарок Илье и Глебу
20  24.01.2023       прочее   -688                Озон HDMI-адаптер
21  25.01.2023     здоровье   -600                     Стрижка в ЧК
22  25.01.2023        связь   -599                           iCloud
23  25.01.2023        связь    -30                          Мегафон
24  26.01.2023     цифровые  -1990               Яндекс ПЛЮС на год
25  26.01.2023  развлечения  -1189                             Додо
26  26.01.2023     здоровье  -1700                       DDX фитнес
27  31.01.2023     продукты  -2500                     Перевод Даше

In [13]:
first.get_expenses_group()

Группы расходов:
 1|продукты       |
 2|транспорт      |
 3|развлечения    |
 4|здоровье       |
 5|связь          |
 6|квартплата     |
 7|непредвиденное |
 8|одежда         |
 9|цифровые       |
10|ненужные       |
11|прочее         |

Группы доходов:
100|зарплата       |
101|подработка     |
102|дивиденды      |
103|депозиты       |

In [14]:
first.add_expenses_auto()
first.write_xlsx()
first.table.tail()

          дата категория  сумма     комментарий
59  28.01.2023  продукты   -318     Лукоил Обед
60  28.01.2023  продукты   -270     Лукоил Кофе
61  29.01.2023  продукты  -1620          Магнит
62  29.01.2023  продукты   -170          Магнит
63  30.01.2023  продукты   -125  МК в Кристалле

In [15]:
first.write_xlsx()

In [45]:
first.table.tail()

          дата категория  сумма                 комментарий
42  24.11.2023  продукты    -50                   Пятерочка
43  24.11.2023  ненужные   -250  Коммисия за перевод по СБП
44  25.11.2023     связь    -50                     Мегафон
45  25.11.2023  продукты   -516                 Перекросток
46  27.11.2023  продукты   -476                   Пятерочка

In [16]:
import os

In [17]:
class money_tracker_year:
    def __init__(self):
        self.year = datetime.date.today().year
        self.year = 2023
        print(self.year)
        self.num_to_month = {
            1: 'Январь', 2: 'Февраль', 3: 'Март', 4: 'Апрель', 5: 'Май', 6: 'Июнь',
            7: 'Июль', 8: 'Август', 9: 'Сентябрь', 10: 'Октябрь', 11: 'Ноябрь', 12: 'Декабрь' }

        self.table = pd.DataFrame({'категория': []})
        self.table_name = str(self.year)+'.xlsx'

        self.expenses_group =  {1: 'продукты',
                               2: 'транспорт',
                               3: 'развлечения',
                               4: 'здоровье',
                               5: 'связь',
                               6: 'квартплата',
                               7: 'непредвиденное',
                               8: 'одежда',
                               9: 'цифровые',
                               10: 'ненужные',
                               11: 'прочее'}
        
        self.gain_group = {100: 'зарплата',
                           101: 'подработка',
                           102: 'дивиденды',
                           103: 'депозиты'}

    def create_xlsx(self, filename=None):
        if filename == None:
            self.table.to_excel(self.table_name, index=0)
        else:
            self.table_name = filename
            self.table.to_excel(filename, index=0)

    def read_xlsx(self, filename=None):
        if filename == None:
            self.table = pd.read_excel(self.table_name)
        else:
            self.table_name = filename
            self.table = pd.read_excel(filename)

            self.year = int(filename.split('.')[0])

    def write_xlsx(self):
        self.table.to_excel(self.table_name, index=0)

    def get_expenses_group(self):
        print('Группы расходов:')
        for key, value in self.expenses_group.items():
            print("{:>2}".format(key), end='|')
            print("{:<15}".format(value)+'|')
        print()

        print('Группы доходов:')
        for key, value in self.gain_group.items():
            print("{:>2}".format(key), end='|')
            print("{:<15}".format(value)+'|')
        print()

    def add_expenses_gpoup(self):
        for value in self.expenses_group.values():
            self.table.loc[len(self.table)] = [value]
        self.table.loc[len(self.table)] = ['    ']
        for value in self.gain_group.values():
            self.table.loc[len(self.table)] = [value]

    def add_months_data(self):
        files = os.listdir('2023')
        # print(files)
        for file in files:
            if file[0] != '.':
                self.month = pd.read_excel('2023/'+file)

                month_sum_arr = []    
                for value in self.expenses_group.values():
                    month_sum_arr.append(self.month[self.month['категория'] == value]['сумма'].sum())
                month_sum_arr.append('  ')
                for value in self.gain_group.values():
                    month_sum_arr.append(self.month[self.month['категория'] == value]['сумма'].sum())

                self.table[file.split('.')[0]] = month_sum_arr

In [18]:
print(os.listdir('2023'))

['Декабрь_2023.xlsx', 'Август_2023.xlsx', '.DS_Store', 'Октябрь_2023.xlsx', 'Ноябрь_2023.xlsx', 'Сентябрь_2023.xlsx']

In [19]:
y2023 = money_tracker_year()
# y2023.create_xlsx()
# y2023.write_xlsx()
# y2023.add_expenses_gpoup()
y2023.read_xlsx()
y2023.table

2023

    категория Декабрь_2023 Август_2023 Октябрь_2023 Ноябрь_2023 Сентябрь_2023
0         NaN            0      -12182       -17303      -17904         -7266
1         NaN         -587       -2442         -842       -1140         -1770
2         NaN        -1088           0        -2179        -275         -3002
3         NaN            0       -1700         -600       -2300         -2021
4         NaN            0           0        -1299       -1449         -1379
5         NaN       -15000      -15000       -15000      -15000        -15000
6         NaN            0         -64            0           0             0
7         NaN            0      -11365            0           0        -10803
8         NaN            0           0            0           0             0
9         NaN            0           0            0        -495         -1786
10        NaN            0       -2330        -9900           0         -3553
11        NaN
12        NaN         3479       40000        43381       43381         40000
13        NaN          436        3612         4505         430          5470
14        NaN            0           0            0           0             0
15        NaN            0           0            0           0          1126

In [20]:
y2023.add_months_data()

In [21]:
y2023.table

    категория Декабрь_2023 Август_2023 Октябрь_2023 Ноябрь_2023 Сентябрь_2023
0         NaN       -11997      -12182       -17303      -17904         -7266
1         NaN        -1957       -2442         -842       -1140         -1770
2         NaN        -4255           0        -2179        -275         -3002
3         NaN        -2300       -1700         -600       -2300         -2021
4         NaN        -1329           0        -1299       -1449         -1379
5         NaN       -15000      -15000       -15000      -15000        -15000
6         NaN            0         -64            0           0             0
7         NaN        -3240      -11365            0           0        -10803
8         NaN        -2390           0            0           0             0
9         NaN        -1000           0            0        -495         -1786
10        NaN       -20486       -2330        -9900           0         -3553
11        NaN
12        NaN        46958       40000        43381       43381         40000
13        NaN        21618        3612         4505         430          5470
14        NaN            0           0            0           0             0
15        NaN            0           0            0           0          1126

In [22]:
y2023.write_xlsx()