In [11]:
import pandas as pd
import datetime

In [82]:
class money_tracker_month:
    def __init__(self, month_number=datetime.date.today().month):
        self.day = datetime.date.today().day
        self.month_number = month_number
        self.year = datetime.date.today().year
        num_to_month = {
            '1': 'Январь', '2': 'Февраль', '3': 'Март', '4': 'Апрель', '5': 'Май', '6': 'Июнь',
            '7': 'Июль', '8': 'Август', '9': 'Сентябрь', '10': 'Октябрь', '11': 'Ноябрь', '12': 'Декабрь' }
        self.month_name = num_to_month[str(month_number)]

        self.table = pd.DataFrame({'дата': [], 'категория': [], 'сумма': [], 'комментарий': []})
        self.table_name = str(self.month_name)+'_'+str(self.year)+'.xlsx'

        self.expenses_group =  {1: 'продукты',
                               2: 'транспорт',
                               3: 'развлечения',
                               4: 'здоровье',
                               5: 'связь',
                               6: 'квартплата',
                               7: 'непредвиденное',
                               8: 'одежда',
                               9: 'цифровые',
                               10: 'ненужные',
                               11: 'прочее'}
        
        self.gain_group = {100: 'зарплата',
                           101: 'подработка',
                           102: 'дивиденды и купоны',
                           103: 'депозиты'}

    def create_xlsx(self, filename=None):
        if filename == None:
            self.table.to_excel(self.table_name, index=0)
        else:
            self.table_name = filename
            self.table.to_excel(filename, index=0)

    def read_xlsx(self, filename=None):
        if filename == None:
            self.table = pd.read_excel(self.table_name)
        else:
            self.table_name = filename
            self.table = pd.read_excel(filename)

            self.month_name = filename.split('_')[0]
            self.year = filename.split('_')[1].split('.')[0]

    def write_xlsx(self):
        self.table.to_excel(self.table_name, index=0)

    def get_expenses_group(self):
        print('Группы расходов:')
        for elem in self.expenses_group:
            print("{:^8}".format(elem), end='|')
        print()
        for value in self.expenses_group.values():
            print("{:^5}".format(value), end='|')
        print()
        print('Группы доходов:')
        for elem in self.gain_group:
            print("{:^8}".format(elem), end='|')
        print()
        for value in self.gain_group.values():
            print("{:^5}".format(value), end='|')
        print()

    def add_expenses_manual(self, date=0, category='прочее', value=0,  comment=''):
        self.table.loc[len(self.table)] = [date, category, value, comment]

    def add_expenses_auto(self):
        date = 1
        while date != 0:
            date = int(input('Дата = '))
            num_category = int(input('Категория = '))
            if num_category in self.expenses_group.keys():
                self.table.loc[len(self.table)] = [date, self.expenses_group[num_category], int(input('Сумма = ')), str(input('Комментарий = '))]
            elif num_category in self.gain_group.keys():
                self.table.loc[len(self.table)] = [date, self.gain_group[num_category], int(input('Сумма = ')), str(input('Комментарий = '))]
            else:
                pass
                # добавить ошибку ввода

In [72]:
date = int(input('Дата = '))

In [83]:
datetime.datetime.date()

TypeError: unbound method datetime.date() needs an argument

In [87]:
first = money_tracker_month()
print(first.day, first.month_name, first.year)
# first.create_xlsx(filename='Август_2023.xlsx')

14 Август 2023

In [86]:
first.read_xlsx(filename='Август_2023.xlsx')
first.table

Empty DataFrame
Columns: [дата, категория, сумма, комментарий]
Index: []

In [58]:
first.get_expenses_group()

Группы расходов:
   1    |   2    |   3    |   4    |   5    |   6    |   7    |   8    |   9    |   10   |   11   |
продукты|транспорт|развлечения|здоровье|связь|квартплата|непредвиденное|одежда|цифровые|ненужные|прочее|
Группы доходов:
  100   |  101   |  102   |  103   |
зарплата|подработка|дивиденды и купоны|депозиты|

In [59]:
# first.add_expenses(date=6, value=-3897, category='одежда, товары', comment='Даша')
first.table.tail()

    дата               категория  сумма  комментарий
15     6  непредвиденное, ремонт    -64  ремонт окна
16     6             развлечения   -965  Суши Маркет
17     6              подработка    250         Даша
18     6          одежда, товары  -3897         Даша
19     6          одежда, товары  -3707          NaN

In [61]:
first.get_expenses_group()
first.add_expenses_auto()
first.table

Группы расходов:
   1    |   2    |   3    |   4    |   5    |   6    |   7    |   8    |   9    |   10   |   11   |
продукты|транспорт|развлечения|здоровье|связь|квартплата|непредвиденное|одежда|цифровые|ненужные|прочее|
Группы доходов:
  100   |  101   |  102   |  103   |
зарплата|подработка|дивиденды и купоны|депозиты|

ValueError: invalid literal for int() with base 10: ''

In [64]:
first.table.tail()

    дата       категория  сумма  комментарий
16     6     развлечения   -965  Суши Маркет
17     6      подработка    250         Даша
18     6  одежда, товары  -3897         Даша
19     6  одежда, товары  -3707          NaN
20    27        зарплата   3283    стипендия

In [71]:
first.write_xlsx()