In [12]:
import pandas as pd
import datetime

In [13]:
class money_tracker_month:
    def __init__(self, month_number=datetime.date.today().month):
        self.day = datetime.date.today().day
        self.month_number = month_number
        self.year = datetime.date.today().year
        self.num_to_month = {
            1: 'Январь', 2: 'Февраль', 3: 'Март', 4: 'Апрель', 5: 'Май', 6: 'Июнь',
            7: 'Июль', 8: 'Август', 9: 'Сентябрь', 10: 'Октябрь', 11: 'Ноябрь', 12: 'Декабрь' }
        self.month_name = self.num_to_month[month_number]
        self.date = datetime.datetime(day=self.day, month=self.month_number, year=self.year)

        self.table = pd.DataFrame({'дата': [], 'категория': [], 'сумма': [], 'комментарий': []})
        self.table_name = str(self.month_name)+'_'+str(self.year)+'.xlsx'

        self.expenses_group =  {1: 'продукты',
                               2: 'транспорт',
                               3: 'развлечения',
                               4: 'здоровье',
                               5: 'связь',
                               6: 'квартплата',
                               7: 'непредвиденное',
                               8: 'одежда',
                               9: 'цифровые',
                               10: 'ненужные',
                               11: 'прочее'}
        
        self.gain_group = {100: 'зарплата',
                           101: 'подработка',
                           102: 'дивиденды',
                           103: 'депозиты'}

    def create_xlsx(self, filename=None):
        if filename == None:
            self.table.to_excel(self.table_name, index=0)
        else:
            self.table_name = filename
            self.table.to_excel(filename, index=0)

    def read_xlsx(self, filename=None):
        if filename == None:
            self.table = pd.read_excel(self.table_name)
        else:
            self.table_name = filename
            self.table = pd.read_excel(filename)

            self.month_name = filename.split('_')[0]
            for key, value in self.num_to_month.items():
                if self.month_name == value:
                    self.month_number = key
            self.year = int(filename.split('_')[1].split('.')[0])

            self.date = datetime.datetime(day=self.day, month=self.month_number, year=self.year)

    def write_xlsx(self):
        self.table.to_excel(self.table_name, index=0)

    def get_expenses_group(self):
        print('Группы расходов:')
        for key, value in self.expenses_group.items():
            print("{:>2}".format(key), end='|')
            print("{:<15}".format(value)+'|')
        print()

        print('Группы доходов:')
        for key, value in self.gain_group.items():
            print("{:>2}".format(key), end='|')
            print("{:<15}".format(value)+'|')
        print()

    def add_expenses_manual(self, date=0, category='прочее', value=0,  comment=''):
        self.table.loc[len(self.table)] = [date, category, value, comment]

    def add_expenses_auto(self):
        flag = True
        month_num = "{:>02d}".format(self.month_number)
        while True:
            date = "{:>02d}".format(int(input('Дата = '))) + '.' + month_num + '.' + str(self.year)

            num_category = int(input('Категория = '))

            cost = int(input('Сумма = '))
            if num_category in self.expenses_group.keys():
                self.table.loc[len(self.table)] = [date, self.expenses_group[num_category], -cost, str(input('Комментарий = '))]
            elif num_category in self.gain_group.keys():
                self.table.loc[len(self.table)] = [date, self.gain_group[num_category], cost, str(input('Комментарий = '))]
            else:
                pass
                # добавить ошибку ввода

            if str(input('Продолжить?[Y/n]')) == 'n':
                break

In [14]:
first = money_tracker_month()
print(first.day, first.month_name, first.year)
# first.create_xlsx(filename='Сентябрь_2023.xlsx')
# first.write_xlsx()

19 Сентябрь 2023

In [21]:
first.read_xlsx(filename='2023/Август_2023.xlsx')
first.table

          дата       категория  сумма             комментарий
0   03.08.2023       транспорт   -470                   Метро
1   04.08.2023        продукты   -885             Перекресток
2   04.08.2023      квартплата -15000                     NaN
3   04.08.2023        продукты  -3020               Пятерочка
4   04.08.2023        зарплата  40000                     NaN
5   05.08.2023          одежда   -512               Omsa Ozon
6   05.08.2023       транспорт   -599   Подписка на год Urent
7   05.08.2023       транспорт    -91                   Urent
8   05.08.2023       транспорт    -99                   Urent
9   06.08.2023       транспорт    -39                   Urent
10  06.08.2023       транспорт    -47                   Urent
11  06.08.2023       транспорт    -79                   Urent
12  06.08.2023       транспорт    -87                   Urent
13  06.08.2023        здоровье  -1700             DDX fitness
14  06.08.2023          одежда  -3249          Erke кроссовки
15  06.08.2023  непредвиденное    -64          OBI ручка окна
16  06.08.2023        продукты   -965             Суши Маркет
17  06.08.2023          одежда  -3897   NY. Спортивная одежда
18  06.08.2023          одежда  -3707           Koton. Джинсы
19  06.08.2023       транспорт    -95                   Urent
20  07.08.2023          прочее  -2200            Подарок Ильи
21  09.08.2023      подработка   2012                VTB Бати
22  09.08.2023      подработка   1600               VTB Batya
23  09.08.2023        продукты   -761             Перекресток
24  10.08.2023        продукты   -125               Пятерочка
25  10.08.2023        продукты   -256               Пятерочка
26  12.08.2023       транспорт   -240                     NaN
27  14.08.2023       транспорт   -240              Электричка
28  14.08.2023        продукты   -818               Пятерочка
29  15.08.2023        продукты    -28             Перекресток
30  15.08.2023        продукты   -390                 KAFE VO
31  15.08.2023        продукты   -269               Пятерочка
32  16.08.2023        продукты   -550          BURGERNAYA 456
33  16.08.2023        продукты   -405               Пятерочка
34  17.08.2023        продукты   -100                   Армия
35  17.08.2023        продукты    -60             ARMIYA-2023
36  18.08.2023        продукты   -745             Перекресток
37  18.08.2023          прочее   -130  PUNKT VYDACHI LYUBERCY
38  18.08.2023        продукты   -223               Пятерочка
39  19.08.2023       транспорт    -56                   Метро
40  21.08.2023        продукты   -555             Перекресток
41  22.08.2023        продукты  -1112             Перекресток
42  27.08.2023       транспорт   -300                  Тройка
43  30.08.2023        продукты   -635             Перекресток
44  31.08.2023        продукты   -280             Перекерсток

In [16]:
first.get_expenses_group()

Группы расходов:
 1|продукты       |
 2|транспорт      |
 3|развлечения    |
 4|здоровье       |
 5|связь          |
 6|квартплата     |
 7|непредвиденное |
 8|одежда         |
 9|цифровые       |
10|ненужные       |
11|прочее         |

Группы доходов:
100|зарплата       |
101|подработка     |
102|дивиденды      |
103|депозиты       |

In [18]:
first.add_expenses_auto()
first.write_xlsx()
first.table.tail()

ValueError: invalid literal for int() with base 10: '-'

In [8]:
first.write_xlsx()

In [20]:
first.table.tail()

          дата категория  сумма комментарий
69  25.08.2023     связь   -599         МТС
70  25.08.2023  продукты   -158          БК
71  27.08.2023    прочее   -600        Даша
72  31.08.2023  зарплата   3283   Стипендия
73  31.08.2023  здоровье   -600     Стрижка

In [36]:
import os

In [101]:
class money_tracker_year:
    def __init__(self):
        self.year = datetime.date.today().year
        self.num_to_month = {
            1: 'Январь', 2: 'Февраль', 3: 'Март', 4: 'Апрель', 5: 'Май', 6: 'Июнь',
            7: 'Июль', 8: 'Август', 9: 'Сентябрь', 10: 'Октябрь', 11: 'Ноябрь', 12: 'Декабрь' }

        self.table = pd.DataFrame({'категория': []})
        self.table_name = str(self.year)+'.xlsx'

        self.expenses_group =  {1: 'продукты',
                               2: 'транспорт',
                               3: 'развлечения',
                               4: 'здоровье',
                               5: 'связь',
                               6: 'квартплата',
                               7: 'непредвиденное',
                               8: 'одежда',
                               9: 'цифровые',
                               10: 'ненужные',
                               11: 'прочее'}
        
        self.gain_group = {100: 'зарплата',
                           101: 'подработка',
                           102: 'дивиденды',
                           103: 'депозиты'}

    def create_xlsx(self, filename=None):
        if filename == None:
            self.table.to_excel(self.table_name, index=0)
        else:
            self.table_name = filename
            self.table.to_excel(filename, index=0)

    def read_xlsx(self, filename=None):
        if filename == None:
            self.table = pd.read_excel(self.table_name)
        else:
            self.table_name = filename
            self.table = pd.read_excel(filename)

            self.year = int(filename.split('.')[0])

    def write_xlsx(self):
        self.table.to_excel(self.table_name, index=0)

    def get_expenses_group(self):
        print('Группы расходов:')
        for key, value in self.expenses_group.items():
            print("{:>2}".format(key), end='|')
            print("{:<15}".format(value)+'|')
        print()

        print('Группы доходов:')
        for key, value in self.gain_group.items():
            print("{:>2}".format(key), end='|')
            print("{:<15}".format(value)+'|')
        print()

    def add_expenses_gpoup(self):
        for value in self.expenses_group.values():
            self.table.loc[len(self.table)] = [value]
        self.table.loc[len(self.table)] = ['    ']
        for value in self.gain_group.values():
            self.table.loc[len(self.table)] = [value]

    def add_months_data(self):
        files = os.listdir('2023')
        # print(files)
        for file in files:
            self.month = pd.read_excel('2023/'+file)

            month_sum_arr = []    
            for value in self.expenses_group.values():
                month_sum_arr.append(self.month[self.month['категория'] == value]['сумма'].sum())
            month_sum_arr.append('  ')
            for value in self.gain_group.values():
                month_sum_arr.append(self.month[self.month['категория'] == value]['сумма'].sum())

            self.table[file.split('.')[0]] = month_sum_arr

In [102]:
y2023 = money_tracker_year()
# y2023.create_xlsx()
# y2023.write_xlsx()
# y2023.add_expenses_gpoup()
y2023.read_xlsx()
y2023.table

         категория
0         продукты
1        транспорт
2      развлечения
3         здоровье
4            связь
5       квартплата
6   непредвиденное
7           одежда
8         цифровые
9         ненужные
10          прочее
11
12        зарплата
13      подработка
14       дивиденды
15        депозиты

In [103]:
y2023.add_months_data()

In [105]:
y2023.table

         категория Август_2023 Сентябрь_2023
0         продукты      -12182         -5418
1        транспорт       -2442         -1363
2      развлечения           0         -3002
3         здоровье       -1700         -2021
4            связь           0          -780
5       квартплата      -15000        -15000
6   непредвиденное         -64             0
7           одежда      -11365        -10803
8         цифровые           0             0
9         ненужные           0             0
10          прочее       -2330          -220
11
12        зарплата       40000         40000
13      подработка        3612          5470
14       дивиденды           0             0
15        депозиты           0             0

In [106]:
y2023.write_xlsx()