In [34]:
import pandas as pd
import datetime

In [35]:
class money_tracker_month:
    def __init__(self, month_number=datetime.date.today().month):
        self.day = datetime.date.today().day
        self.month_number = month_number
        self.year = datetime.date.today().year
        self.num_to_month = {
            1: 'Январь', 2: 'Февраль', 3: 'Март', 4: 'Апрель', 5: 'Май', 6: 'Июнь',
            7: 'Июль', 8: 'Август', 9: 'Сентябрь', 10: 'Октябрь', 11: 'Ноябрь', 12: 'Декабрь' }
        self.month_name = self.num_to_month[month_number]
        self.date = datetime.datetime(day=self.day, month=self.month_number, year=self.year)

        self.table = pd.DataFrame({'дата': [], 'категория': [], 'сумма': [], 'комментарий': []})
        self.table_name = str(self.month_name)+'_'+str(self.year)+'.xlsx'

        self.expenses_group =  {1: 'продукты',
                               2: 'транспорт',
                               3: 'развлечения',
                               4: 'здоровье',
                               5: 'связь',
                               6: 'квартплата',
                               7: 'непредвиденное',
                               8: 'одежда',
                               9: 'цифровые',
                               10: 'ненужные',
                               11: 'прочее'}
        
        self.gain_group = {100: 'зарплата',
                           101: 'подработка',
                           102: 'дивиденды',
                           103: 'депозиты'}

    def create_xlsx(self, filename=None):
        if filename == None:
            self.table.to_excel(self.table_name, index=0)
        else:
            self.table_name = filename
            self.table.to_excel(filename, index=0)

    def read_xlsx(self, filename=None):
        if filename == None:
            self.table = pd.read_excel(self.table_name)
        else:
            self.table_name = filename
            self.table = pd.read_excel(filename)

            self.month_name = filename.split('_')[0]
            for key, value in self.num_to_month.items():
                if self.month_name == value:
                    self.month_number = key
            self.year = int(filename.split('_')[1].split('.')[0])

            self.date = datetime.datetime(day=self.day, month=self.month_number, year=self.year)

    def write_xlsx(self):
        self.table.to_excel(self.table_name, index=0)

    def get_expenses_group(self):
        print('Группы расходов:')
        for key, value in self.expenses_group.items():
            print("{:>2}".format(key), end='|')
            print("{:<15}".format(value)+'|')
        print()

        print('Группы доходов:')
        for key, value in self.gain_group.items():
            print("{:>2}".format(key), end='|')
            print("{:<15}".format(value)+'|')
        print()

    def add_expenses_manual(self, date=0, category='прочее', value=0,  comment=''):
        self.table.loc[len(self.table)] = [date, category, value, comment]

    def add_expenses_auto(self):
        flag = True
        month_num = "{:>02d}".format(self.month_number)
        while True:
            date = "{:>02d}".format(int(input('Дата = '))) + '.' + month_num + '.' + str(self.year)

            num_category = int(input('Категория = '))

            cost = int(input('Сумма = '))
            if num_category in self.expenses_group.keys():
                self.table.loc[len(self.table)] = [date, self.expenses_group[num_category], -cost, str(input('Комментарий = '))]
            elif num_category in self.gain_group.keys():
                self.table.loc[len(self.table)] = [date, self.gain_group[num_category], cost, str(input('Комментарий = '))]
            else:
                pass
                # добавить ошибку ввода

            if str(input('Продолжить?[Y/n]')) == 'n':
                break

In [36]:
first = money_tracker_month()
print(first.day, first.month_name, first.year)
# first.create_xlsx(filename='Ноябрь_2023.xlsx')
# first.write_xlsx()

30 Ноябрь 2023

In [38]:
first.read_xlsx(filename='2023/Ноябрь_2023.xlsx')
first.table

Empty DataFrame
Columns: [дата, категория, сумма, комментарий]
Index: []

In [39]:
first.get_expenses_group()

Группы расходов:
 1|продукты       |
 2|транспорт      |
 3|развлечения    |
 4|здоровье       |
 5|связь          |
 6|квартплата     |
 7|непредвиденное |
 8|одежда         |
 9|цифровые       |
10|ненужные       |
11|прочее         |

Группы доходов:
100|зарплата       |
101|подработка     |
102|дивиденды      |
103|депозиты       |

In [44]:
first.add_expenses_auto()
first.write_xlsx()
first.table.tail()

          дата категория  сумма                 комментарий
42  24.11.2023  продукты    -50                   Пятерочка
43  24.11.2023  ненужные   -250  Коммисия за перевод по СБП
44  25.11.2023     связь    -50                     Мегафон
45  25.11.2023  продукты   -516                 Перекросток
46  27.11.2023  продукты   -476                   Пятерочка

In [8]:
first.write_xlsx()

In [45]:
first.table.tail()

          дата категория  сумма                 комментарий
42  24.11.2023  продукты    -50                   Пятерочка
43  24.11.2023  ненужные   -250  Коммисия за перевод по СБП
44  25.11.2023     связь    -50                     Мегафон
45  25.11.2023  продукты   -516                 Перекросток
46  27.11.2023  продукты   -476                   Пятерочка

In [46]:
import os

In [47]:
class money_tracker_year:
    def __init__(self):
        self.year = datetime.date.today().year
        self.num_to_month = {
            1: 'Январь', 2: 'Февраль', 3: 'Март', 4: 'Апрель', 5: 'Май', 6: 'Июнь',
            7: 'Июль', 8: 'Август', 9: 'Сентябрь', 10: 'Октябрь', 11: 'Ноябрь', 12: 'Декабрь' }

        self.table = pd.DataFrame({'категория': []})
        self.table_name = str(self.year)+'.xlsx'

        self.expenses_group =  {1: 'продукты',
                               2: 'транспорт',
                               3: 'развлечения',
                               4: 'здоровье',
                               5: 'связь',
                               6: 'квартплата',
                               7: 'непредвиденное',
                               8: 'одежда',
                               9: 'цифровые',
                               10: 'ненужные',
                               11: 'прочее'}
        
        self.gain_group = {100: 'зарплата',
                           101: 'подработка',
                           102: 'дивиденды',
                           103: 'депозиты'}

    def create_xlsx(self, filename=None):
        if filename == None:
            self.table.to_excel(self.table_name, index=0)
        else:
            self.table_name = filename
            self.table.to_excel(filename, index=0)

    def read_xlsx(self, filename=None):
        if filename == None:
            self.table = pd.read_excel(self.table_name)
        else:
            self.table_name = filename
            self.table = pd.read_excel(filename)

            self.year = int(filename.split('.')[0])

    def write_xlsx(self):
        self.table.to_excel(self.table_name, index=0)

    def get_expenses_group(self):
        print('Группы расходов:')
        for key, value in self.expenses_group.items():
            print("{:>2}".format(key), end='|')
            print("{:<15}".format(value)+'|')
        print()

        print('Группы доходов:')
        for key, value in self.gain_group.items():
            print("{:>2}".format(key), end='|')
            print("{:<15}".format(value)+'|')
        print()

    def add_expenses_gpoup(self):
        for value in self.expenses_group.values():
            self.table.loc[len(self.table)] = [value]
        self.table.loc[len(self.table)] = ['    ']
        for value in self.gain_group.values():
            self.table.loc[len(self.table)] = [value]

    def add_months_data(self):
        files = os.listdir('2023')
        # print(files)
        for file in files:
            if file[0] != '.':
                self.month = pd.read_excel('2023/'+file)

                month_sum_arr = []    
                for value in self.expenses_group.values():
                    month_sum_arr.append(self.month[self.month['категория'] == value]['сумма'].sum())
                month_sum_arr.append('  ')
                for value in self.gain_group.values():
                    month_sum_arr.append(self.month[self.month['категория'] == value]['сумма'].sum())

                self.table[file.split('.')[0]] = month_sum_arr

In [48]:
print(os.listdir('2023'))

['Август_2023.xlsx', '.DS_Store', 'Октябрь_2023.xlsx', 'Ноябрь_2023.xlsx', 'Сентябрь_2023.xlsx']

In [49]:
y2023 = money_tracker_year()
# y2023.create_xlsx()
# y2023.write_xlsx()
# y2023.add_expenses_gpoup()
y2023.read_xlsx()
y2023.table

         категория Август_2023 Сентябрь_2023
0         продукты      -12182         -5418
1        транспорт       -2442         -1363
2      развлечения           0         -3002
3         здоровье       -1700         -2021
4            связь           0          -780
5       квартплата      -15000        -15000
6   непредвиденное         -64             0
7           одежда      -11365        -10803
8         цифровые           0             0
9         ненужные           0             0
10          прочее       -2330          -220
11
12        зарплата       40000         40000
13      подработка        3612          5470
14       дивиденды           0             0
15        депозиты           0             0

In [50]:
y2023.add_months_data()

In [51]:
y2023.table

         категория Август_2023 Сентябрь_2023 Октябрь_2023 Ноябрь_2023
0         продукты      -12182         -7266       -17303      -17904
1        транспорт       -2442         -1770         -842       -1140
2      развлечения           0         -3002        -2179        -275
3         здоровье       -1700         -2021         -600       -2300
4            связь           0         -1379        -1299       -1449
5       квартплата      -15000        -15000       -15000      -15000
6   непредвиденное         -64             0            0           0
7           одежда      -11365        -10803            0           0
8         цифровые           0             0            0           0
9         ненужные           0         -1786            0        -495
10          прочее       -2330         -3553        -9900           0
11
12        зарплата       40000         40000        43381       43381
13      подработка        3612          5470         4505         430
14       дивиденды           0             0            0           0
15        депозиты           0          1126            0           0

In [52]:
y2023.write_xlsx()