In [1]:
import pandas as pd
import datetime

In [2]:
class money_tracker_month:
    def __init__(self, month_number=datetime.date.today().month):
        self.day = datetime.date.today().day
        self.month_number = month_number
        self.year = datetime.date.today().year
        self.num_to_month = {
            1: 'Январь', 2: 'Февраль', 3: 'Март', 4: 'Апрель', 5: 'Май', 6: 'Июнь',
            7: 'Июль', 8: 'Август', 9: 'Сентябрь', 10: 'Октябрь', 11: 'Ноябрь', 12: 'Декабрь' }
        self.month_name = self.num_to_month[month_number]
        self.date = datetime.datetime(day=self.day, month=self.month_number, year=self.year)

        self.table = pd.DataFrame({'дата': [], 'категория': [], 'сумма': [], 'комментарий': []})
        self.table_name = str(self.month_name)+'_'+str(self.year)+'.xlsx'

        self.expenses_group =  {1: 'продукты',
                               2: 'транспорт',
                               3: 'развлечения',
                               4: 'здоровье',
                               5: 'связь',
                               6: 'квартплата',
                               7: 'непредвиденное',
                               8: 'одежда',
                               9: 'цифровые',
                               10: 'ненужные',
                               11: 'прочее'}
        
        self.gain_group = {100: 'зарплата',
                           101: 'подработка',
                           102: 'дивиденды',
                           103: 'депозиты'}

    def create_xlsx(self, filename=None):
        if filename == None:
            self.table.to_excel(self.table_name, index=0)
        else:
            self.table_name = filename
            self.table.to_excel(filename, index=0)

    def read_xlsx(self, filename=None):
        if filename == None:
            self.table = pd.read_excel(self.table_name)
        else:
            self.table_name = filename
            self.table = pd.read_excel(filename)

            self.month_name = filename.split('_')[0]
            for key, value in self.num_to_month.items():
                if self.month_name == value:
                    self.month_number = key
            self.year = int(filename.split('_')[1].split('.')[0])

            self.date = datetime.datetime(day=self.day, month=self.month_number, year=self.year)

    def write_xlsx(self):
        self.table.to_excel(self.table_name, index=0)

    def get_expenses_group(self):
        print('Группы расходов:')
        for key, value in self.expenses_group.items():
            print("{:>2}".format(key), end='|')
            print("{:<15}".format(value)+'|')
        print()

        print('Группы доходов:')
        for key, value in self.gain_group.items():
            print("{:>2}".format(key), end='|')
            print("{:<15}".format(value)+'|')
        print()

    def add_expenses_manual(self, date=0, category='прочее', value=0,  comment=''):
        self.table.loc[len(self.table)] = [date, category, value, comment]

    def add_expenses_auto(self):
        flag = True
        month_num = "{:>02d}".format(self.month_number)
        while True:
            date = "{:>02d}".format(int(input('Дата = '))) + '.' + month_num + '.' + str(self.year)

            num_category = int(input('Категория = '))

            cost = int(input('Сумма = '))
            if num_category in self.expenses_group.keys():
                self.table.loc[len(self.table)] = [date, self.expenses_group[num_category], -cost, str(input('Комментарий = '))]
            elif num_category in self.gain_group.keys():
                self.table.loc[len(self.table)] = [date, self.gain_group[num_category], cost, str(input('Комментарий = '))]
            else:
                pass
                # добавить ошибку ввода

            if str(input('Продолжить?[Y/n]')) == 'n':
                break

In [4]:
first = money_tracker_month()
print(first.day, first.month_name, first.year)
# first.create_xlsx(filename='Январь_2024.xlsx')
# first.write_xlsx()

14 Февраль 2024

In [5]:
first.read_xlsx(filename='2024/Январь_2024.xlsx')
first.table

Empty DataFrame
Columns: [дата, категория, сумма, комментарий]
Index: []

In [6]:
first.get_expenses_group()

Группы расходов:
 1|продукты       |
 2|транспорт      |
 3|развлечения    |
 4|здоровье       |
 5|связь          |
 6|квартплата     |
 7|непредвиденное |
 8|одежда         |
 9|цифровые       |
10|ненужные       |
11|прочее         |

Группы доходов:
100|зарплата       |
101|подработка     |
102|дивиденды      |
103|депозиты       |

In [11]:
first.add_expenses_auto()
first.write_xlsx()
first.table.tail()

          дата   категория  сумма       комментарий
38  29.02.2024   транспорт   -132        Электричка
39  29.02.2024   транспорт   -132        Электричка
40  29.02.2024    продукты   -220    Вкусно и точка
41  30.02.2024  подработка    180    За бассей Даша
42  31.02.2024    продукты    -95  IP BELIAKOV M.A.

In [12]:
first.write_xlsx()

In [13]:
first.table.tail()

          дата   категория  сумма       комментарий
38  29.02.2024   транспорт   -132        Электричка
39  29.02.2024   транспорт   -132        Электричка
40  29.02.2024    продукты   -220    Вкусно и точка
41  30.02.2024  подработка    180    За бассей Даша
42  31.02.2024    продукты    -95  IP BELIAKOV M.A.

In [30]:
import os

In [43]:
class money_tracker_year:
    def __init__(self):
        self.year = datetime.date.today().year
        self.year = 2024
        print(self.year)
        self.num_to_month = {
            1: 'Январь', 2: 'Февраль', 3: 'Март', 4: 'Апрель', 5: 'Май', 6: 'Июнь',
            7: 'Июль', 8: 'Август', 9: 'Сентябрь', 10: 'Октябрь', 11: 'Ноябрь', 12: 'Декабрь' }

        self.table = pd.DataFrame({'категория': []})
        self.table_name = str(self.year)+'.xlsx'

        self.expenses_group =  {1: 'продукты',
                               2: 'транспорт',
                               3: 'развлечения',
                               4: 'здоровье',
                               5: 'связь',
                               6: 'квартплата',
                               7: 'непредвиденное',
                               8: 'одежда',
                               9: 'цифровые',
                               10: 'ненужные',
                               11: 'прочее'}
        
        self.gain_group = {100: 'зарплата',
                           101: 'подработка',
                           102: 'дивиденды',
                           103: 'депозиты'}

    def create_xlsx(self, filename=None):
        if filename == None:
            self.table.to_excel(self.table_name, index=0)
        else:
            self.table_name = filename
            self.table.to_excel(filename, index=0)

    def read_xlsx(self, filename=None):
        if filename == None:
            self.table = pd.read_excel(self.table_name)
        else:
            self.table_name = filename
            self.table = pd.read_excel(filename)

            self.year = int(filename.split('.')[0])

    def write_xlsx(self):
        self.table.to_excel(self.table_name, index=0)

    def get_expenses_group(self):
        print('Группы расходов:')
        for key, value in self.expenses_group.items():
            print("{:>2}".format(key), end='|')
            print("{:<15}".format(value)+'|')
        print()

        print('Группы доходов:')
        for key, value in self.gain_group.items():
            print("{:>2}".format(key), end='|')
            print("{:<15}".format(value)+'|')
        print()

    def add_expenses_gpoup(self):
        for value in self.expenses_group.values():
            self.table.loc[len(self.table)] = [value]
        self.table.loc[len(self.table)] = ['    ']
        for value in self.gain_group.values():
            self.table.loc[len(self.table)] = [value]

    def add_months_data(self):
        files = os.listdir('2024')
        # files.append(os.listdir('2024'))
        # print(files)
        for file in files:
            if file[0] != '.':
                # try:
                #     self.month = pd.read_excel('2023/'+file)
                # except:
                self.month = pd.read_excel('2024/'+file)

                month_sum_arr = []    
                for value in self.expenses_group.values():
                    month_sum_arr.append(self.month[self.month['категория'] == value]['сумма'].sum())
                month_sum_arr.append('  ')
                for value in self.gain_group.values():
                    month_sum_arr.append(self.month[self.month['категория'] == value]['сумма'].sum())

                self.table[file.split('.')[0]] = month_sum_arr

In [44]:
print(os.listdir('2024'))

['Январь_2024.xlsx']

In [38]:
y2023 = money_tracker_year()
# y2023.create_xlsx()
# y2023.write_xlsx()
# y2023.add_expenses_gpoup()
y2023.read_xlsx()
y2023.table

2023

Empty DataFrame
Columns: [категория]
Index: []

In [34]:
y2023.add_months_data()

ValueError: Length of values (16) does not match length of index (20)

In [29]:
y2023.table

,категория,Август_2023,Октябрь_2023,Ноябрь_2023,Сентябрь_2023,Декабрь_2023
0,Продукты,-12182,-17303,-17904,-7266,-11997
1,Транспорт,-2442,-842,-1140,-1770,-1957
2,Развлечения,0,-2179,-275,-3002,-4255
3,Здоровье,-1700,-600,-2300,-2021,-2300
4,Связь,0,-1299,-1449,-1379,-1329
5,Квартплата,-15000,-15000,-15000,-15000,-15000
6,Непредвиденное,-64,0,0,0,0
7,Одежда,-11365,0,0,-10803,-3240
8,Цифровые,0,0,0,0,-2390
9,Ненужное,0,0,-495,-1786,-1000
10,Прочее,-2330,-9900,0,-3553,-20486
11,NaN,,,,,
12,Зарплата,40000,43381,43381,40000,46958
13,Подработка,3612,4505,430,5470,21618
14,Дивиденды,0,0,0,0,0
15,Депозиты,0,0,0,1126,0
16,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,-45083,-47123,-38563,-46580,-63954
18,NaN,43612,47886,43811,46596,68576
19,NaN,-1471,763,5248,16,4622

In [20]:
y2023.write_xlsx()

In [45]:
y2024 = money_tracker_year()
y2024.create_xlsx()
y2024.write_xlsx()
y2024.add_expenses_gpoup()
y2024.read_xlsx()
y2024.table

2024

Empty DataFrame
Columns: [категория]
Index: []

In [47]:
y2024.add_months_data()
y2024.table

   категория Январь_2024
0        NaN       -3755
1        NaN       -2096
2        NaN           0
3        NaN       -1552
4        NaN        -650
5        NaN      -15000
6        NaN           0
7        NaN           0
8        NaN        -390
9        NaN           0
10       NaN      -49803
11       NaN
12       NaN       43381
13       NaN        5038
14       NaN           0
15       NaN           0

In [48]:
y2024.write_xlsx()