In [3]:
import pandas as pd
import datetime

In [4]:
month = pd.DataFrame({'категория': [], 'сумма': [], 'комментарий': []})

In [5]:
month

Empty DataFrame
Columns: [категория, сумма, комментарий]
Index: []

In [60]:
class money_tracker_month:
    def __init__(self, month_number=datetime.date.today().month):
        self.day = datetime.date.today().day
        self.month_number = month_number
        self.year = datetime.date.today().year
        num_to_month = {
            '1': 'Январь', '2': 'Февраль', '3': 'Март', '4': 'Апрель', '5': 'Май', '6': 'Июнь',
            '7': 'Июль', '8': 'Август', '9': 'Сентябрь', '10': 'Октябрь', '11': 'Ноябрь', '12': 'Декабрь' }
        self.month_name = num_to_month[str(month_number)]

        self.table = pd.DataFrame({'категория': [], 'сумма': [], 'комментарий': []})
        self.table_name = str(self.month_name)+'_'+str(self.year)+'.xlsx'

        self.expenses_group = ['здоровье и красота',
                               'образование',
                               'развлечения',
                               'туризм, путешествия',
                               'продукты и хозтовары',
                               'квартплата',
                               'интеренет и связь',
                               'непредвиденное, ремонт',
                               'одежда, товары',
                               'цифровые покупки',
                               'ненужные траты',
                               'дети',
                               'прочее']
        
        self.gain_group = ['зарплата',
                           'подработка',
                           'дивиденды и купоны',
                           'депозиты']

    def create_xlsx(self, filename=None):
        if filename == None:
            self.table.to_excel(self.table_name, index=0)
        else:
            self.table_name = filename
            self.table.to_excel(filename)

    def read_xlsx(self, filename=None):
        if filename == None:
            self.table = pd.read_excel(self.table_name)
        else:
            self.table_name = filename
            self.table = pd.read_excel(filename)

    def write_xlsx(self):
        self.table.to_excel(self.table_name)

    def get_expenses_group(self):
        print('Группы расходов:')
        for elem in self.expenses_group:
            print("{:^5}".format(elem), end='|')
        print()
        print('Группы доходов:')
        for elem in self.gain_group:
            print("{:^5}".format(elem), end='|')

    def add_expenses(self, category='прочее', value=0,  comment=''):
        self.table.loc[len(self.table)] = [category, value, comment]

In [61]:
first = money_tracker_month()
print(first.day, first.month_name, first.year)
# first.create_xlsx()

13 Сентябрь 2023

In [62]:
first.read_xlsx()
first.table

   категория  сумма  комментарий
0          1      2            3

In [63]:
first.get_expenses_group()

Группы расходов:
здоровье и красота|образование|развлечения|туризм, путешествия|продукты и хозтовары|квартплата|интеренет и связь|непредвиденное, ремонт|одежда, товары|цифровые покупки|ненужные траты|дети |прочее|
Группы доходов:
зарплата|подработка|дивиденды и купоны|депозиты|

In [67]:
first.add_expenses(value=1000, category='образование')
first.table

     категория  сумма комментарий
0            1      2           3
1       прочее      0
2       прочее      0
3       прочее   1000
4  образование   1000

In [68]:
first.write_xlsx()